#testata-pagina {
    background-image: url(./img/pattern.png);
    background-color: lightskyblue;
}

#logo-booleaners {
    width: 150px;
    height: 150px;

}

h1{
    font-size: 65px;
    margin: 4px;
}

#thebooleaner {
    color: lightskyblue;
}

#writers-info {
    color: rgba(0, 0, 0, 0.5);
}

#data {
    font-size: 12px;

}
table {
    border-color: black;
}