*{
    max-width: 100%;
    box-sizing: border-box;
    text-align: left;
}
#testata-pagina {
    background-image: url(./img/pattern.png);
    background-color: lightskyblue;
    height: 200px;
}

#logo-booleaners {
    width: 150px;
    height: 150px;
    margin-top: ;

}

h1{
    font-size: 65px;
    margin: 4px;
}

#thebooleaner {
    color: lightskyblue;
}

#img-description {
    font-size: 12px;
}

#writers-info {
    color: rgba(0, 0, 0, 0.5);
    
}

#data {
    font-size: 12px;

}
table {
    text-align: left;
    width: 100%;
    border-spacing: 0px;
}
thead {
    background-color: blue;
    color: white;
    text-align: left;
}
td {
    text-align: left;
    color: black;
}

.ultimo-th {
    width: 50%;

}
.prima-riga {
    background-color: lightblue;
}

#you-must-check {
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    margin: 4px;
}
.container {
    position: relative;
  }
  
.topleft {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 20px;
    color: white;
  }
  